<%= content_for :nav_title do %> User Profile <%end%>
<% content_for :pre_content do %>
  <%= link_to admin_dashboard_users_path, class: "w-auto inline-block mb-4 text-gray-800 p-1 px-2 text-sm" do %>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 inline-block me-1">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18" />
    </svg>
    Back to all users
  <% end %>
<% end %>
<div class="p-4 md:p-8 bg-white rounded-3xl mb-6">
  <h4 class="text-2xl font-bold mb-4">Profile</h4>
  <div class="flex flex-col md:flex-row">
    <div class="space-y-3 flex-1 mb-3 md:mb-0 ">
      <div>
        <p class="font-semibold ">id</p>
        <p><%= @user.id %></p>
      </div>
      <div>
        <p class="font-semibold ">Email</p>
        <p><%= @user.email %></p>
      </div>
      <div>
        <p class="font-semibold ">Created at</p>
        <p><%= @user.created_at.to_formatted_s(:long) %></p>
      </div>
      <div>
        <p class="font-semibold ">Updated at</p>
        <p><%= @user.updated_at.to_formatted_s(:long) %></p>
      </div>
    </div>
    <div class="space-y-3 flex-1">
      <div class=>
        <p class="font-semibold ">Stripe ID</p>
        <button
            data-controller="clipboard"
            data-clipboard-text-value="<%= @user.stripe_id %>"
            data-action="clipboard#copy"
            class="p-1 text-sm bg-slate-100 text-gray-800 inline-block rounded"
          >
          <%= icon "clipboard", classes: "inline size-4 mr-1" %>
          <%= @user.stripe_id %>
        </button>
      </div>
      <div class=>
        <p class="font-semibold ">Customer URL</p>
        <p>
          <a href="<%= stripe_customers_url(@user)%>" target="_blank" class="btn-secondary-sm-outline"> Manage customer </a>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="p-4 md:p-8 bg-white rounded-3xl mb-6">
  <h4 class="text-2xl font-bold mb-4">Subscriptions</h4>
  <%= turbo_frame_tag "subscriptions" do %>
    <ul class="space-y-4">
      <%= render @subscriptions %>
    </ul>
    <section class="mt-4 flex justify-between items-center">
      <%== pagy_nav(@pagy, link_extra: 'data-turbo-action="advance"') if @pagy.pages > 1 %>
      <span class="hidden sm:block">
        <%== pagy_info(@pagy) %>
      </span>
    </section>
  <% end %>
</div>
<div class="p-4 md:p-8 bg-white rounded-3xl mb-8">
  <h4 class="text-2xl font-bold mb-4">Settings</h4>
  <div class="flex space-x-3">
    <% if @user.access_locked? %>
      <%= button_to "Unban",
        unban_admin_dashboard_user_path(@user),
        method: :post,
        form: { data: { turbo_confirm: "Are you sure?" }},
        class: "btn-warning-outline"
      %>
    <% else %>
      <%= button_to "Ban",
        ban_admin_dashboard_user_path(@user),
        method: :post,
        form: { data: { turbo_confirm: "Are you sure?" }},
        class: "btn-warning-outline"
      %>
    <% end %>
    <%= button_to "Delete",
      admin_dashboard_user_path(@user),
      method: :delete,
      form: { data: { turbo_confirm: "Are you sure?" } },
      class: "btn-danger"
    %>
  </div>
</div>
