<%= content_for :nav_title do %> Products <%end%>
<% content_for :pre_content do %>
  <div class="flex items-center">
    <div class="flex-1">
      <%= link_to admin_dashboard_path, class: "w-auto inline-block mb-4 text-gray-800 p-1 px-2 text-sm" do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 inline-block me-1">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18" />
        </svg>
        Back to dashboard
      <% end %>
    </div>
    <div>
      <%= button_to admin_dashboard_products_sync_path, {
        form_class: "mb-4",
        method: :post,
        data: { 'turbo-frame': "products" },
        class: "btn-primary-sm-outline"
      } do %>
        <%= icon "arrow-path", classes: "inline-block size-4 mr-1" %> Sync
      <% end %>
    </div>
  </div>
<% end %>
<% if @products.empty? %>
  <div class="flex space-y-4 flex-col justify-center border rounded-xl bg-slate-100 p-6">
    <h2 class="text-gray-800 font-semibold text-lg text-center">
      Looks like you don't have products yet.
    </h2>
    <p class="text-center">If you already created your products at Stripe, then</p>
    <%= button_to admin_dashboard_products_sync_path, {
      form_class: "text-center",
      method: :post,
      data: { turbo: true },
      params: { format: :html },
      class: "btn-primary"
    } do %>
      Import products
    <% end %>
    <p class="text-center">
      But if you don't
    </p>
    <p class="text-center">
      <a target="_blank"  href="<%= stripe_products_url %>" class="btn-secondary-outline">Create your first product</a>
    </p>
  </div>
<% else %>
  <p class="border rounded-xl bg-slate-100 p-4 md:p-6 mb-4">
    This page is <b>read-only.</b> You should manage your products in Stripe and then sync them here.
  </p>
  <ul class="space-y-4">
    <%= turbo_frame_tag "products" do %>
      <%= render @products %>
    <% end %>
  </ul>
<% end %>
