<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Side Project Starter" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'https://js.stripe.com/v3/', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="bg-yellow-50">
    <header class="ml-0 lg:ml-60 mb-8">
      <nav class="max-w-4xl mx-auto" data-controller='toggle'>
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
          <div class="relative flex h-16 items-center justify-between">

            <!-- Mobile menu button-->
            <div class="absolute w-12 inset-y-0 left-0 flex items-center  lg:hidden">
              <button data-action='click->toggle#toggle touch->toggle#toggle' type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
                <span class="absolute -inset-0.5"></span>
                <span class="sr-only">Open main menu</span>
                <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
              </button>
            </div>
            <!--  End menu button -->

            <div class="w-full flex justify-center">
              <h2 class="text-lg font-bold">
                <%= yield :nav_title %>
              </h2>
            </div>

            <!--
            <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
              <div
                data-controller="dropdown"
                data-action="click@window->dropdown#hide touchstart@window->dropdown#hide keydown.up->dropdown#previousItem keydown.down->dropdown#nextItem keydown.esc->dropdown#hide"
                class="relative ml-3">
                <div>
                  <button
                    data-action="dropdown#toggle:stop"
                    type="button" class="inline-flex w-full justify-center gap-x-1.5 rounded-md px-3 py-2 text-sm font-semibold text-gray-600 hover:bg-gray-50" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                    Settings
                    <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                    </svg>
                  </button>
                </div>
                <div data-dropdown-target="menu" class="hidden absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                  <%= button_to "Logout", destroy_admin_session_path, method: :delete, class: "block px-4 py-2 text-sm text-gray-700"  %>
                </div>
              </div>
            </div>
            -->
          </div>
        </div>
        <!-- Mobile menu, show/hide based on menu state. -->
        <div class="hidden " id="mobile-menu" data-toggle-target='toggleable'>
          <div class="space-y-1 px-2 pb-3 pt-2 transition ease-in duration-75">
            <%= active_link_to "Dashboard", admin_dashboard_path, class: "block rounded-md px-3 py-2 text-base font-medium" %>
            <%= active_link_to "Users", admin_dashboard_users_path, class: "block rounded-md px-3 py-2 text-base font-medium" %>
          </div>
        </div>
      </nav>
    </header>
    <aside class="hidden fixed inset-y-0 left-0 bg-white shadow-md max-h-screen w-60 lg:block">
      <div class="flex flex-col justify-between h-full">
        <div class="flex-grow">
          <div class="px-4 h-16 flex items-center justify-center text-center border-b">
            <%= link_to root_path do %>
              <h1 class="text-xl font-bold leading-none"> Side Project </h1>
            <% end %>
          </div>
          <div class="p-4">
            <ul class="space-y-1">
              <li>
                <%= active_link_to app_dashboard_path, active_classes: "bg-yellow-200 text-yellow-900 hover:text-yellow-900", class: "flex items-center rounded-xl font-bold text-sm py-3 px-4 text-gray-600 hover:text-black" do %>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 mr-2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                  </svg>
                  Dashboard
                <% end %>
              </li>
              <li>
                <%= active_link_to edit_app_dashboard_profile_path(current_user.profile), active_classes: "bg-yellow-200 text-yellow-900 hover:text-yellow-900", class: "flex items-center rounded-xl font-bold text-sm py-3 px-4 text-gray-600 hover:text-black" do %>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 mr-2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                  </svg>

                  Profile
                <% end %>
              </li>
              <li>
                <%= button_to app_dashboard_billings_path, {
                  method: :post,
                  data: { turbo: false },
                  class: "flex items-center rounded-xl font-bold text-sm py-3 px-4 text-gray-600 hover:text-black"
                } do %>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 mr-2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m3.75 9v7.5m2.25-6.466a9.016 9.016 0 0 0-3.461-.203c-.536.072-.974.478-1.021 1.017a4.559 4.559 0 0 0-.018.402c0 .464.336.844.775.994l2.95 1.012c.44.15.775.53.775.994 0 .136-.006.27-.018.402-.047.539-.485.945-1.021 1.017a9.077 9.077 0 0 1-3.461-.203M10.5 2.25H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z" />
                  </svg>
                  Billings
                <% end %>
              </li>
            </ul>
          </div>
        </div>
        <div class="p-4">
          <%= button_to destroy_user_session_path, method: :delete, class: "block px-4 py-2 text-sm text-gray-700 hover:text-black font-bold" do %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 inline-block me-1">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18"></path>
            </svg>
            Logout
          <% end %>
        </div>
      </div>
    </aside>
    <main class="px-4 min-h-screen ml-0 lg:ml-60 overflow-auto">
      <div class="max-w-4xl mx-auto">
        <%= yield :pre_content %>
        <div class="p-8 bg-white rounded-3xl">
          <%= yield %>
        </div>
      </div>
    </main>
  </body>
</html>
